<footer class="bg-body-tertiary text-center">
  <div class="container p-4">
    <!-- Logo div -->
    <div class="mb-3">
      <a class="text-decoration-none" href="/">
        <h4 class="text-danger lead mt-2">Techhaven E-Commerce Store</h4>
      </a>
    </div>

    <!-- Text div -->
    <div class="mb-4">
      <p>
        "Techhaven Store, nestled in the heart of downtown, isn't your ordinary florist.
        Combining the artistry of floral design with a touch of futuristic flair,
        Techhaven offers a unique selection of blooms for the modern age.
        From holographic bouquets to genetically modified blossoms that emit a soft glow,
        each arrangement is meticulously crafted to awe and inspire. Step into our sleek,
        minimalist space where technology seamlessly intertwines with nature,
        and let our expert florists help you find the perfect arrangement to elevate any occasion.
        At Techhaven Store, we're redefining the art of gifting flowers in a world where innovation blooms endlessly."
      </p>
    </div>
  </div>

  <!-- Copyright div -->
  <div class="text-center p-3" style="background-color: rgba(148, 22, 45, 0.958)">
    © 2024 Copyright:
    <span class="text-reset fw-bold">SHROUK HESHAM &hearts;</span>
  </div>
</footer>
