<div class="bg-white py-4" id="newsletter-section">
  <div class="container">
    <div
      class="newsletter style_1 radius_15 bg_filed rounded position-relative"
    >
      <div class="newsletter_thumb bg_filed"></div>
      <div class="newsletter_shape"></div>
      <div class="newsletter_text ms-auto">
        <h2 class="newsletter_title fs_50 bold white_color">
          Subscribe to Our Newsletter
        </h2>
        <p class="newsletter_subtitle white_color">
          Join TechHaven and stay updated with our latest news and offers.
        </p>
        <form class="newsletter_form">
          <input
            type="text"
            placeholder="Enter your email address..."
            class="form_field rounded"
          />
          <button type="submit" class="btn style_1 medium">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End Newsletter Section -->
